$light-gray: #ccc;

html {
  height: 100%
}
body {
  padding: 1em;
  margin: 0;
  font-family: "Ubuntu", "Lucida Sans Unicode", Tahoma, sans-serif;
  font-size: 16pt;
  height: 100%;
}
#container {
  background-color: $light-gray;
  width: 600px;
  margin: auto;
  padding: 2px;
  // * { border: 1px solid #999; } // borders for visual debugging
}
header {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  padding: 0.75em 1em 0.75em 3em;
  border-bottom: 3px solid $light-gray;
  #title {
    font-size: 250%;
    font-weight: bold;
    flex-grow: 1;
    font-variant: small-caps;
  }
  .listTools {
    padding: 0.25em;
    text-align: right;
    background-color: #fff;
    button {
      border: 0;
      background-color: transparent;
      color: #000;
      font-size: 200%;
      cursor: pointer;
      opacity: 0.33;
      transition: opacity 500ms ease;
    }
    button:hover {
      opacity: 1;
    }
  }
}
main #list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  li {
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #fff;
    font-size: 120%;
    padding: 0;
    border-bottom: 2px dotted $light-gray;
    .grabber {
      display: inline;
      cursor: move;
      margin: auto;
      padding-left: 1em;
      opacity: 0.05;
      transition: opacity 500ms ease;
    }
    .details {
      display: inline;
      padding: 1em 1em;
      line-height: 20px;
      flex-grow: 1;
      font-weight: bold;
      color: #999;
    }
    .editing {
      color: #000;
      font-style: italic;
    }
    .trash-item, .edit-item {
      margin: auto;
      padding: 10px;
      cursor: pointer;
      color: #000;
      opacity: 0;
      transition: opacity 500ms ease, color 500ms ease;
    }
  }
  li:hover {
    .trash-item, .edit-item {
      opacity: 0.5;
    }
    .trash-item:hover {
      color: #f00;
    }
    .edit-item:hover {
      color: #0cc;
    }
    .grabber {
      opacity: 0.2;
    }
  }
}
footer {
  height: 1em;
  background-color: #fff;
}
#howto {
  display: none;
  ul {
    margin: 0;
    padding: 0 1em;
    list-style-type: none;
    li {
      color: $light-gray;
    }
  }
}
.item-template {
  display: none;
}

.fa.fa-grip:before {
  content: "\f142 \202F \f142";
}

@media (max-width: 640px) {
  body {
    padding: 0;
  }
  #container {
    width: 100%;
    header {
      flex-direction: column;
      padding: 0;
      #title {
        text-align: center;
      }
      .listTools {
        text-align: center;
      }
    }
  }
}

